.chess-moves-board{
    /* border: 1px solid blue; */
    width: 80vw;
    height: 80vh;
}

.chess-div-board{
    height: 100%;
}

.board{
   border: 5px groove chocolate; 
   max-width: 75vh;
   height: 100%;
   box-shadow: 0px 1px 5px;
}

.cell {
    border: 1px solid black;
    cursor: pointer;    
}

.cell.black {
    background: black;
    color: black;
    box-shadow: 0px 1px 2px;
};

.cell.white {
    background-color: white;
    color: white;
}

.cell.green {
    background-color: green;
    font-size: 2vw;
}

.cell.first-turn{
    background-color: greenyellow;
    border: 2px solid darkgreen;
    
}

.cell.first-turn-opacity{
    background-color: greenyellow;
    opacity: 0.5;
}

.cell.second-turn{
    background-color: coral;
    border: 2px solid brown;
    
}

.cell.second-turn-opacity{
    background-color: coral;
    opacity: 0.5;
}